body {
    background-color: lightblue;
    color: black
    
  }

  .jumbotron {
    background-image: url("bacteria.jpg");
    background-size: 75% 150%;
    text-align: tile;
    
  }

  p {
    color: black;
    text-shadow: black;
   }


   .center {
     position: relative;
     margin: auto;
     width:400%;
     padding-top: 30px;
     padding-bottom: 30px;
   }

   #bubble {
    position: relative;
    margin: auto;
    
    outline: 3px solid gray;
   }

   #bar {
    margin: auto;
    
    outline: 3px solid gray;
}
  #gauge {
    margin: auto;
    
    outline: 3px solid gray;
}